body{
    margin: 0px;
}
.plano-de-fundo{
    width: auto;
    height: 700px;
    background-image: url("/imgs/fundo-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.font-tamanho{
    font-size: 30px;
}
.plano-de-fundo2{
    width: auto;
    height: 500px;
    background-image: url("/imgs/fundo-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.final{
    width: auto;
    height: 200px;
}
.texto1{
    color: #5491C7;
}
.plano-de-fundo3{
    width: auto;
    height: 987px;
    background-image: url("/imgs/background_projeto 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.distancia{
    width: auto;
    height: 500px;
}
.comprimento{
    width: auto;
    height: 200px;
}
.distancia2{
    width: auto;
    height: 600px;
}
.altura{
    height: 40px;
}
.distancia3{
    width: auto;
    height: 788px;
}
.distancia4{
    width: auto;
    height: 1000px;
}