<%-include ('partials/header.ejs')%>
      <!-- Contéudo para o Index -->
      <div class="container-fluid plano-de-fundo">
                  <%-include ('partials/navbar.ejs')%>
            <div class="row">
                  <div class="d-flex justify-content-center align-items-center mt-5">
                        <img src="/imgs/logo_empresa.png" style="width: 1300px; height: 400px;">
                  </div>
                  <!-- <div>
                        <h3 class="text-warning d-flex justify-content-end mt-5">Press Start</h3>
                  </div> -->
            </div>
      </div>
      <div class="container-fluid d-flex justify-content-center plano-de-fundo2">
            <div class="row mt-5">
                  <div class="col-8">
                        <div class="fs-2 fw-bold fst-italic d-flex align-items-center bg-light bg-opacity-50" style="width: 800px; height: 400px;">
                              <p class="ms-5 text-justfield">
                                    Por meio do “Sistema de Trilhas Pedagógicas Gamificadas - TPG System”, os estudantes têm a oportunidade de enfrentar desafios e resolver situações-problema de forma individual ou colaborativa, utilizando elementos de Role-Playing Game para alcançarem resultados satisfatórios.
                              </p>
                        </div>
                  </div>
                  <div class="col-4">
                        <img src="/imgs/Indgena  TPG System-portrait 1.png" style="width: 400px; height: 400px;">
                  </div>
            </div>
      </div>
      <!-- Fim Conteúdo para o Index -->
<%-include ('partials/footer.ejs')%>